<?xml version="1.0"?>
<DHCPServer networkName="NatNetwork" trunkType="whatever" IPAddress="10.0.2.2" lowerIP="10.0.2.3" upperIP="10.0.2.254" leasesFilename="C:\Users\Emmanuel Nimoh\.VirtualBox\NatNetwork-Dhcpd.leases" networkMask="255.255.255.0">
  <Options>
    <Option name="1" encoding="0" value="255.255.255.0"/>
    <Option name="3" encoding="0" value="10.0.2.1"/>
    <Option name="6" encoding="0" value="216.68.4.10 216.68.5.10"/>
  </Options>
</DHCPServer>
